/* Do not remove the comments below. It's the markers used by wiredep to inject sass dependencies when defined in the
bower.json of your dependencies */
// bower:scss
// endbower
$background-color: rgba(239, 239, 239, 0.6);;
$netflix-red: #db0000;


$xs-size: 8px;
$small-size: 10px;
$medium-size: 16px;
$large-size: 24px;
$xl-size: 36px;
$xxl-size: 48px;
$xxxl-size: 64px;
$super-size: 72px;
$minimum-app-height: 80vh;

$header-height: $xxxl-size;

body {
    font: normal 16px/150% 'Kanit', Arial, Helvetica, sans-serif;
    background-image: url('./images/theaterDark.png');
    background-repeat: no-repeat;
}

.clutterflix-header {
    font-family: 'Kanit', sans-serif;
    color: $netflix-red;
    line-height:$header-height;
    height: $header-height;
    font-size: $xl-size;
}


.search-loader {
    max-height: 100%;
    max-width:100%;
    img {
        width: 100%;
    }
}

.main-container {
    display:flex;
    flex-direction: row;
    background-color:  $background-color;
}

.movie-search {
    display:flex;
    flex: 1;
    min-height: $minimum-app-height;
    width: 20%;
    border-right: 1px solid #e8e8e8;
    background-color: rgba(245, 245, 245, 0.6);

    ul {
        margin:0px;
        padding:0px;
        list-style-type: none;
    }

    .search-input {
        text-indent: 5px;
        border-radius: 4px;
        outline: none;
        margin: 10px;
        max-width: calc(100% - 20px);
        border-style: none;
        height: $xl-size;
        border: 1px solid #e4e4e4;
    }


    .movie-search-result{
        display: flex;
        flex-direction: row;
        height: $super-size;
        margin: 5px;
        padding-top: 5px;
        border-top: 1px solid #e8e8e8;

        img {
            max-height: 72px;
            display: flex;
            flex: 1 2 auto;
        }

        div {
            display: flex;
            flex: 2 1 auto;
            width: 70%;
            max-height: $super-size;
            float:right;

            font-size: $small-size;
            vertical-align: top;
        }

        .movie-search-result-data {
            margin-left: 4px;
            display: flex;
            flex-direction: column;
        }
    }
}

.movie-details {
    display: flex;
    flex-direction: row;
    flex: 4;

    margin: 20px;

    min-height: $minimum-app-height;

    .no-selection {
        display: block;
        text-align: center;
        margin-top: 25%;
        margin-left: calc(50% - 150px);
        font-size: $xl-size;
        height: 100%;
    }

    .movie-image {
        display:flex;
        flex: 1 1 40%;
        img{
            height: 100%;
            max-width: 100%;
        }
    }

    .movie-information{
        display:flex;
        flex-direction: column;
        flex: 1 4 auto;
        margin-left: 10px;
        height: 100%;
        vertical-align: top;
    }

    .movie-details-cast {
        display: flex;
        flex-direction: row;
    }

    .movie-details-cast-circle {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        text-align: center;
        .circle-profile {
            width:80%;
            margin: auto;
            border:2px solid black;
            border-radius: 700px;
        }
    }

}




/* Do not remove the comments below. It's the markers used by gulp-inject to inject all your sass files automatically */
// injector
// endinjector
